In [3]:
# E,I,M,N,R,S,T,U

In [131]:
import pandas as pd
from pathlib import Path
import win32com.client as win32
win32c = win32.constants

In [157]:
filepath = "C:/Users/Catherine Liu/Downloads/"
name = "chateff1.xlsx"
name1 = 'chateff_edited_df_.csv'
filename = "C:/Users/Catherine Liu/Downloads/chateff1.xlsx"
sheetname = 'XSELL Chat Efficiencies  - Apr ' # change to the name of the worksheet
updated_date = '4/25/2022'
result_date = '4/23/2022'

In [136]:
# create Excel object
excel = win32.gencache.EnsureDispatch('Excel.Application')
# excel can be visible or not
excel.Visible = True 
# open Excel Workbook   
wb = excel.Workbooks.Open(filename)

In [137]:
# insert a new row by shifting the original row down
wb.Sheets(sheetname).Columns("E").Insert(win32c.xlShiftDown)
wb.Sheets(sheetname).Columns("J").Insert(win32c.xlShiftDown)
wb.Sheets(sheetname).Columns("O").Insert(win32c.xlShiftDown)
wb.Sheets(sheetname).Columns("Q").Insert(win32c.xlShiftDown)
wb.Sheets(sheetname).Columns("V").Insert(win32c.xlShiftDown)
wb.Sheets(sheetname).Columns("X").Insert(win32c.xlShiftDown)
wb.Sheets(sheetname).Columns("Z").Insert(win32c.xlShiftDown)
wb.Sheets(sheetname).Columns("AB").Insert(win32c.xlShiftDown)

True

In [138]:
wb.Sheets(sheetname).Columns("A").Insert(win32c.xlShiftDown)
wb.Sheets(sheetname).Columns("A").Insert(win32c.xlShiftDown)

True

In [140]:

wb.Sheets(sheetname).Range("B3").Value = result_date

In [141]:
lastRow = wb.Sheets(sheetname).UsedRange.Rows.Count

In [142]:
#wb.Sheets(sheetname2).Range("B4":lastRow).Copy(Destination = wb.Sheets(sheetname).Range("B3"))
print(lastRow)

33

In [143]:
range_ = "B4:B"+str(lastRow)
wb.Sheets(sheetname).Range('B3').Copy(Destination = wb.Sheets(sheetname).Range(range_))

True

In [144]:
wb.Sheets(sheetname).Range("A3").Value = updated_date
range_A = "A4:A"+str(lastRow)
wb.Sheets(sheetname).Range('A3').Copy(Destination = wb.Sheets(sheetname).Range(range_A))

True

In [145]:
range_G = "G3:G"+str(lastRow)
range_L = "L3:L"+str(lastRow)
range_Q = "Q3:Q"+str(lastRow)
range_S = "S3:S"+str(lastRow)
range_X = "X3:X"+str(lastRow)
range_Z = "Z3:Z"+str(lastRow)
range_AB = "AB3:AB"+str(lastRow)
range_AD = "AD3:AD"+str(lastRow)


wb.Sheets(sheetname).Range('H1').Copy(Destination = wb.Sheets(sheetname).Range(range_G))
wb.Sheets(sheetname).Range('M1').Copy(Destination = wb.Sheets(sheetname).Range(range_L))
wb.Sheets(sheetname).Range('R1').Copy(Destination = wb.Sheets(sheetname).Range(range_Q))
wb.Sheets(sheetname).Range('T1').Copy(Destination = wb.Sheets(sheetname).Range(range_S))
wb.Sheets(sheetname).Range('Y1').Copy(Destination = wb.Sheets(sheetname).Range(range_X))
wb.Sheets(sheetname).Range('AA1').Copy(Destination = wb.Sheets(sheetname).Range(range_Z))
wb.Sheets(sheetname).Range('AC1').Copy(Destination = wb.Sheets(sheetname).Range(range_AB))
wb.Sheets(sheetname).Range('AE1').Copy(Destination = wb.Sheets(sheetname).Range(range_AD))

True

In [146]:
wb.Sheets(sheetname).Rows(1).EntireRow.Delete()

True

In [147]:
group_1 = 'SMB WRLS Sales- TTEC- Merritt'
group_2 = 'SMB WRLS Sales- TTEC- Odedra'

In [148]:

wb.Close(SaveChanges=1)
excel.Quit()

In [149]:
df = pd.DataFrame(pd.read_excel(filename))

In [150]:
df = df[df.GROUP!= 'Total']

,Unnamed: 0,Unnamed: 1,GROUP,AGENT,LOGGED IN TIME,ONLINE,Unnamed: 6,ONLINE RATE,SKILL TO SKILL TRANSFERS,TRANSFER RATE,...,CCPLH,Unnamed: 25,AGENT LOAD,Unnamed: 27,CSAT SCORE,Unnamed: 29,MCS,NO. OF CONVERSATIONS CLOSED BY AGENT,NO. OF CONVERSATIONS CLOSED BY CONSUMER,NO. OF CONVERSATIONS CLOSED BY SYSTEM
1,2022-04-25,2022-04-23,SMB WRLS Sales- TTEC- Merritt,Total,1900-01-02 06:02:15,1900-01-01 14:00:58,0.6,0.70,6,0.05,...,2.09,0.85,0.38,0.8,0.61,30,25,24,43,46
2,2022-04-25,2022-04-23,NaN,"Jumaoas, Janin",09:11:14,07:02:03,0.6,0.77,1,0.04,...,2.50,0.85,0.36,0.8,0.50,30,39,4,7,12
3,2022-04-25,2022-04-23,NaN,"Neal, Shantia",08:06:56,06:16:09,0.6,0.77,1,0.07,...,1.85,0.85,0.29,0.8,1.00,30,27,0,8,7
4,2022-04-25,2022-04-23,NaN,"Barker, Jerry",08:24:30,06:08:23,0.6,0.73,0,0.00,...,2.14,0.85,0.43,0.8,0.40,30,17,10,6,2
5,2022-04-25,2022-04-23,NaN,"Rivas, Enrique",08:18:28,06:01:26,0.6,0.73,0,0.00,...,2.53,0.85,0.28,0.8,1.00,30,14,4,7,10
6,2022-04-25,2022-04-23,NaN,Tanner Wise,02:32:07,01:07:52,0.6,0.45,0,0.00,...,3.55,0.85,0.21,0.8,1.00,30,11,2,5,2
7,2022-04-25,2022-04-23,NaN,Mikayla Farr,09:14:12,04:26:18,0.6,0.48,2,0.20,...,1.08,0.85,0.58,0.8,0.50,30,22,3,4,3
8,2022-04-25,2022-04-23,NaN,Mariah Bailey,08:14:48,06:58:47,0.6,0.85,2,0.12,...,2.06,0.85,0.32,0.8,0.33,30,35,1,6,10
9,2022-04-25,2022-04-23,SMB WRLS Sales- TTEC- Odedra,Total,03:49:07,03:31:38,0.6,0.82,55,0.08,...,2.81,0.85,0.61,0.8,0.67,30,26,321,228,203
10,2022-04-25,2022-04-23,NaN,"Ritesh, Mehta",09:12:00,08:16:21,0.6,0.90,2,0.35,...,1.85,0.85,0.42,0.8,0.86,30,71,9,7,1
11,2022-04-25,2022-04-23,NaN,"Lone, Sharik Ahmad",18:53:18,14:10:06,0.6,0.75,3,0.05,...,3.18,0.85,0.67,0.8,0.60,30,17,41,14,5
12,2022-04-25,2022-04-23,NaN,"Patil, Prerna",10:08:05,08:58:00,0.6,0.88,1,0.03,...,2.96,0.85,0.52,0.8,0.50,30,24,19,10,1
13,2022-04-25,2022-04-23,NaN,"Banerjee, Rahul",08:58:31,07:46:05,0.6,0.87,6,0.27,...,2.45,0.85,0.37,0.8,0.33,30,9,4,12,6
14,2022-04-25,2022-04-23,NaN,"KAR, ARPITA",10:45:22,09:39:43,0.6,0.90,4,0.24,...,1.58,0.85,0.50,0.8,0.75,30,18,15,2,0
15,2022-04-25,2022-04-23,NaN,"Sankhla, Khushboo",16:09:15,12:27:07,0.6,0.77,7,0.14,...,3.16,0.85,0.72,0.8,0.73,30,28,22,16,13
16,2022-04-25,2022-04-23,NaN,"Ghosh, Samrat",05:23:14,04:55:20,0.6,0.91,1,0.08,...,2.41,0.85,0.44,0.8,1.00,30,50,4,5,4
17,2022-04-25,2022-04-23,NaN,"LNU, Paungeilung",10:16:10,07:03:11,0.6,0.69,0,0.00,...,2.43,0.85,0.46,0.8,0.67,30,28,4,10,11
18,2022-04-25,2022-04-23,NaN,"Panjwani, Rinkal",17:55:16,15:39:02,0.6,0.87,1,0.01,...,3.91,0.85,0.75,0.8,0.63,30,19,10,19,41
19,2022-04-25,2022-04-23,NaN,"Chowdhuri, Debarati",15:16:43,11:40:05,0.6,0.76,2,0.04,...,2.95,0.85,0.59,0.8,0.58,30,44,15,19,11
20,2022-04-25,2022-04-23,NaN,"Yamsani, Supriya",09:13:01,08:01:34,0.6,0.87,2,0.12,...,1.84,0.85,0.43,0.8,0.88,30,47,13,4,0
21,2022-04-25,2022-04-23,NaN,"Bora, Mamta",18:23:10,14:03:47,0.6,0.76,2,0.03,...,3.81,0.85,0.69,0.8,0.70,30,19,19,21,30
22,2022-04-25,2022-04-23,NaN,"Shamnani, Jeetiksh",08:07:55,06:48:40,0.6,0.84,3,0.18,...,2.09,0.85,0.36,0.8,0.75,30,-12,11,4,2
23,2022-04-25,2022-04-23,NaN,"Saini, Simran",09:28:36,09:03:23,0.6,0.96,7,0.50,...,1.48,0.85,0.46,0.8,1.00,30,62,9,2,3
24,2022-04-25,2022-04-23,NaN,"Navneet, Shikha",08:45:26,06:55:32,0.6,0.79,2,0.11,...,2.17,0.85,0.40,0.8,0.50,30,0,4,10,5
25,2022-04-25,2022-04-23,NaN,"Bains, Pragati Kaur",19:12:49,13:59:58,0.6,0.73,1,0.02,...,2.50,0.85,0.69,0.8,0.70,30,40,16,12,20
26,2022-04-25,2022-04-23,NaN,Prerana Lnu,15:01:29,12:31:38,0.6,0.83,2,0.06,...,2.20,0.85,0.82,0.8,1.00,30,24,21,9,3
27,2022-04-25,2022-04-23,NaN,Sudhanshu Shekhar Lnu,18:06:24,14:52:11,0.6,0.82,0,0.00,...,2.93,0.85,0.80,0.8,0.75,30,19,16,16,21
28,2022-04-25,2022-04-23,NaN,Harsh Shah,08:01:48,07:33:59,0.6,0.94,5,0.45,...,1.37,0.85,0.46,0.8,0.75,30,27,3,4,4
29,2022-04-25,2022-04-23,NaN,Neha Lnu,18:19:35,15:21:04,0.6,0.84,4,0.06,...,4.47,0.85,0.75,0.8,0.57,30,28,40,20,22
30,2022-04-25,2022-04-23,NaN,Sujit Mohanty,12:10:59,09:44:51,0.6,0.80,0,0.00,...,3.12,0.85,0.50,0.8,0.56,30,16,26,12,0

In [152]:

df['GROUP'].fillna(method='ffill')

1     SMB WRLS Sales- TTEC- Merritt
2     SMB WRLS Sales- TTEC- Merritt
3     SMB WRLS Sales- TTEC- Merritt
4     SMB WRLS Sales- TTEC- Merritt
5     SMB WRLS Sales- TTEC- Merritt
6     SMB WRLS Sales- TTEC- Merritt
7     SMB WRLS Sales- TTEC- Merritt
8     SMB WRLS Sales- TTEC- Merritt
9      SMB WRLS Sales- TTEC- Odedra
10     SMB WRLS Sales- TTEC- Odedra
11     SMB WRLS Sales- TTEC- Odedra
12     SMB WRLS Sales- TTEC- Odedra
13     SMB WRLS Sales- TTEC- Odedra
14     SMB WRLS Sales- TTEC- Odedra
15     SMB WRLS Sales- TTEC- Odedra
16     SMB WRLS Sales- TTEC- Odedra
17     SMB WRLS Sales- TTEC- Odedra
18     SMB WRLS Sales- TTEC- Odedra
19     SMB WRLS Sales- TTEC- Odedra
20     SMB WRLS Sales- TTEC- Odedra
21     SMB WRLS Sales- TTEC- Odedra
22     SMB WRLS Sales- TTEC- Odedra
23     SMB WRLS Sales- TTEC- Odedra
24     SMB WRLS Sales- TTEC- Odedra
25     SMB WRLS Sales- TTEC- Odedra
26     SMB WRLS Sales- TTEC- Odedra
27     SMB WRLS Sales- TTEC- Odedra
28     SMB WRLS Sales- TTEC- Odedra
29     SMB WRLS Sales- TTEC- Odedra
30     SMB WRLS Sales- TTEC- Odedra
Name: GROUP, dtype: object

In [153]:
df = df[df.AGENT!= 'Total']

In [156]:
df.to_csv(filepath +name1 , encoding='utf-8', header =None)